<section 
  class="bg-black h-screen w-screen text-center relative overflow-hidden"
>
  <article class="z-30 relative h-full flex flex-col">
    <header class="text-white">
      <h2 class="text-white pt-40 text-[40px] font-medium">Disfrute de Tesla</h2>
      <p>Programe una prueba de conducción hoy mismo</p>
    </header>
    <footer class="flex flex-grow flex-nowrap justify-end flex-col pb-20 ">
      <div>
        <a class="text-white border-[3px] border-white bg-white/5 backdrop-blur-sm text-sm rounded font-medium px-12 py-2 inline-block hover:bg-white hover:text-black transition-colors" href="#">Prueba de conducción</a>
      </div>
    </footer>
  </article>
  <div class="absolute top-0 bottom-0 h-full w-full z-10">
    <video class="object-center object-cover w-full h-full" autoplay muted loop src="/public/video.mp4"></video>
  </div>
</section>